/********************
        GENERAL
*******************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 0.8rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

hr{
    border-color: gray;
}

.options h6,
.menu h5,
.tab li{
    display: inline-block;
}

/**********************
        UTILITY
***********************/

.menu, .content{
    float: left;
}

.menu .white a{
    color: white;
}

.white{
    color: white;
}

.gray{
    color: gray;
}

.round{
    border-radius: 50%;
}


/**********************
          NAV
*********************/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    width: 100%;
    padding: 0px 20px;
    z-index: 100;
}

.logo img{
    width: 130px;
}

.upgrade{
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px
}





/************************
        SIDE MENU 
************************/

aside{
    width: 200px;
    height: 100vh;
    background-color: black;
    padding-top: 50px;
    position: fixed;
    z-index: 90;
}

main .menu{
display: flex;
flex-direction: column;
justify-content: space-between;
padding-right: 20px;
}

.options,
.playlist{
    padding-top: 30px;
    padding-left: 25px;
}

.menu_container li{
    list-style: none;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: gray;
}

.options i{
    font-size: 1.5rem;
    vertical-align: middle;
}


.lni{
    transform: rotate(90deg);
}


.playlist i{
    font-size: 2.5rem;
    vertical-align: middle;
}

.user_app{
    padding-left: 25px;
    padding-bottom: 100px;
}

.arrow{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 0.6rem;
    padding: 0px 3px 1px;
    margin-right: 5px;
}

.install{
    margin-bottom: 10px;
}

.user{
    padding-top: 10px;
}
.user_icon{
    border-radius: 50%;
    color: gray;
    font-size: 1.5rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: bottom;
}

/********************
        CONTENT
*********************/
.container{
    height: 100vh;
    overflow: auto;
}

.content{
    width: calc(100% - 200px);
    background-color: #141922;
    position: absolute;
    right: 0%;
}

.content .tab{
    padding-top: 100px;
    display: flex;
    justify-content: center;

}

.content li{
    padding-right: 15px;
}

.underline {
       position: relative; 
     }   

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -3px; 
    background: limegreen;
    right: 25%;
    width: 40%;
}

.title{
    padding: 60px 30px 0px;
}

.album{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 40px;
}

.song{
    width: 180px;
    text-align: center;
    margin-right: 20px;
}

.song h5{
    padding: 10px 0px;
}

.song img{
    width: 100%;
}

.sub_title{
    padding: 10px 30px 0px;
}

.content .last{
    padding-bottom: 100px;
}

/*********************
        FOOTER
*********************/

.foot_container{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playing{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.playing img{
    width: 60px;
}

.playing .song_name,
.playing .band_name{
    display: block;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: bold;
}

.playing .band_name{
    font-size: 0.9rem;
}

.playing .song_name{
    font-size: 0.8rem;
}

.heart{
    padding-right: 20px;
}

.controls li,
.playback li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

.controls i{
    font-size: 1.2rem;
}

#play i{
    font-size: 2rem;
}