/********************************************
                    GENERAL
*******************************************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 1.1rem;
}

h5{
    font-size: 0.8rem;
}

h6{
    font-size: 0.7rem;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

hr{
    border-color: gray;
}

a{
    text-decoration: none;
    color: gray;
}


.options h6,
.menu h5,
.tab li{
    display: inline-block;
}

/*************************************************
                      UTILITY
*************************************************/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.menu, .content{
    float: left;
}

.menu .white a{
    color: white;
}

.white{
    color: white;
}

.gray{
    color: gray;
}

.round{
    border-radius: 50%;
}

.txt_small{
    font-weight: bold;
    font-size: 0.6rem;

}

.hidden{
    display: none;
}

/****************************************************
                         NAV
****************************************************/

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    right: 20px;
    width: calc(100% - 220px);
    z-index: 100;

}

.upgrade{
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px
}




/************************************************
                     SIDE MENU 
************************************************/

aside{
    width: 200px;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 90;
}

.logo img{
    width: 150px;
    padding: 20px 10px 0px;
}

main .menu{
display: flex;
flex-direction: column;
/* justify-content: space-between; */
flex-shrink: 0;
}

.list li,
.options li{
    list-style: none;
}

.create{
    height: 50px;
}

.create,
.options,
.options li{
    padding-top: 10px;
}

.options,
.playlist{
    padding-left: 10px;
}

.playlist{
    padding-top: 20px;
}

.playlist li{
    padding-top: 15px;
}


.options img{
    width: 24px;
    vertical-align: middle;
}

.playlist i{
    font-size: 2.5rem;
    vertical-align: middle;
}

.user_app{
    padding-left: 10px;
    padding-bottom: 120px;
    background-color: black;
    overflow: hidden;
}


.install{
    margin-bottom: 10px;
}

.install img{
    width: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

.install .install_txt{
    display: inline-block;
}

.username{
    font-size: 0.9rem;
}

.user{
    padding-top: 10px;
}
.user_icon{
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    background-image: url(./img/profile.svg);
    background-position: center;
}

.playlist .list{
    overflow-y: auto;
    height: calc(100% - 70px);
}

.playlist{
    height: 100%;
    overflow: hidden;
}


/**********************************************
                   CONTENT
**********************************************/
.container{
    height: 100vh;
    overflow: auto;
}

.content{
    width: calc(100% - 200px);
    background-color: #141922;
    position: absolute;
    right: 0%;
}

.content .tab ul{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.content li{
    padding-right: 50px;
    padding-bottom: 30px;
}

.underline {
       position: relative; 
     }   

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -3px; 
    background: rgb(157, 255, 0);
    right: 25%;
    width: 40%;
}

.title{
    padding: 20px 15px 0px;
}

.sub_title{
    padding: 10px 15px 0px;
}

.album{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 40px;
}

.song{
    width: calc(100% / 7);
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.song h5{
    padding: 10px 0px;
}

.song img{
    width: 100%;
}

.content .last{
    padding-bottom: 70px;
}

/********************************************
                    FOOTER
*******************************************/
footer{
    height: 80px;
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: #282828;
}

.foot_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.playing{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.like_folder{
display: flex;
}

.playing img{
    width: 60px;
}

.playing .song_name,
.playing .band_name{
    display: block;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: bold;
}

.playing .band_name{
    font-size: 0.9rem;
}

.playing .song_name{
    font-size: 0.8rem;
}

.heart{
    padding-right: 20px;
}

.controls li,
.playback li{
    list-style: none;
    vertical-align: middle;
    padding: 0px 10px;
}

.controls i{
    font-size: 1.2rem;

}

.controls ul,
.playback ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#play i{
    font-size: 2rem;
}

.time{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;

}


/*******************************************
                MUSIC/VOLUME BAR
******************************************/

.time .bar{
    width: 500px;
    padding: 0px 20px;
}

.playback .bar{
    width: 130px;
}

.bar div{
    float: left;
}

.bar .point{
    width: 20%;
    background-color: lightgray;
    border-radius: 2px;
    height: 4px;
    position: relative;

}

.bar .end{
    width: 80%;
    height: 4px;
    background-color: gray;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}



/************************************************
                       EFFECTS
*************************************************/

.upgrade:hover,
.fa-play-circle:hover{
    cursor: pointer;
    transform: scale(1.1);
}

li:hover a,
.create:hover a,
.install:hover a,
.song_name:hover,
.like_folder div:hover i,
.bar:hover,
.song_img:hover .overlay{
    color: white;
    cursor: pointer;
}

.song_name:hover{
    text-decoration: underline;
}

.song_img{
    position: relative;
    display: flex;
}

.overlay{
    position: absolute;
    color: white;
    visibility:hidden;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song_img:hover .overlay,
.bar:hover .fa-circle{
visibility: visible;
}

.round.overlay{
    border-radius: 50%;
}

.bar:hover .point{
    background-color: rgb(157, 255, 0);
}

.fa-circle{
    font-size: 1rem;
    position: absolute;
    top: -140%;
    right: -50%;
    visibility: hidden;
}

.fa-circle.song_duration{
        right: -10%;
}

/*********************************************
                     MEDIUM VIEW 
*********************************************/
@media screen and (max-width: 1024px) {

.song{
    width: calc(100% / 5);
}    

.time .bar{
    width: 350px;
    transition: ease 0.1s;
}
}



/*********************************************
                     SMALL VIEW
*********************************************/

@media screen and (max-width: 768px) {

.song{
    width: calc(100% / 2.5);
}  
    
.like_folder{
    display: block;
}

.time .bar{
    width: 150px;
    transition: ease 0.1s;
}

.playback .bar{
    width: 100px;
}
}


/***********************************************
                XTRA SMALL VIEW 
**********************************************/

@media screen and (max-width: 425px) {

/***************************GENERAL********************************/

h5{
    font-size: 0.6rem;
}

h6{
    font-size: 0.5rem;
}

.big_logo{
    display: none;
}

.logo .hidden,.small{
    display: block;
    width: 40px;
    padding: 4px 8px 0px;
}

.options h6,
.playlist,
.install .install_txt,
.user h5,
hr{
    display: none;
}

/******************************SIDE MENU**************************/
nav{
    padding: 0px;
    width: calc(100% - 60px);
}

aside{
    width: 40px;
}

.options{
    padding-top: 0px;
    padding-left: 8px;
    height: 100%;
}

.user_app{
    padding-left: 8px;
    height: 157px;
}

.install img{
    margin-left: 3px;
}

.list li{
    padding-top: 10px;
}

/*****************************MAIN CONTENT*****************************/

.upgrade{
    padding: 10px 30px;
}

.content{
    width: calc(100% - 30px);
    background-color: #141922;
    position: absolute;
    right: 0%;
}

.content li{
padding: 0px 10px 30px;
text-align: center;
}


.title{
    font-size: 1.2rem;
    padding: 0px 30px;

}

.song{
    width: calc(100% / 2.5);
    margin-bottom: 10px;
}

/*******************************FOOTER********************************/
.playing img{
    width: 30px;
}

.playing .band_name{
    font-size: 0.6rem;
}

.playing .song_name{
    font-size: 0.5rem;
}

.playing{
    padding-left: 8px;
}

.like_folder i{
    font-size: 0.8rem;
}


.controls i{
    font-size: 0.8rem;
}

#play i{
    font-size: 1.2rem;
}

.playing .song_name,
.playing .band_name{
    padding-right: 10px;
}

.time .bar{
    width: 120px;
    transition: ease 0.1s;
    padding: 0px 5px;
}

.txt_small{
    font-size: 0.5rem;
}

.playback i{
    font-size: 0.6rem;
    vertical-align: middle;
}

.playback li{
    padding: 0px 5px;
}

.playback .bar{
    width: 67px;
    padding-right: 5px;
}

.fa-circle.vol{
    top: -40%;
}

}

@media screen and (max-width: 375px) {

.playback ul{
    display: flex;
    flex-direction: column-reverse;
}

.playback .bar{

    visibility: hidden;

}

}

@media screen and (max-width: 320px) {
    
.album{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.song{
    width: calc(100% / 1.5);
}  

.album h5{
    font-size: 0.9rem;
}

.album h6{
    font-size: 0.7rem;
}
}