
/************************TOP SECTION****************************/
input{
    all: unset;
}

.profile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    display: inline-block;
    border: none;
    font-size: 0.9rem;
    vertical-align: middle;
    padding: 10px 150px 10px 5px;
}

.search_bar{
    background-color: white;
    border-radius: 20px;
}

.search_bar img{
    filter: brightness(0);
    width: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.chev{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    background-color: black;
    height: 45px;
    width: 45px;
    margin: 0px 10px;
    text-align: center;
    border-radius: 50%;
    padding-top: 8px;
}

.user h5{
    display: inline-block;
}

.user h5 i{
    padding: 0px 5px;
}

section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    background-color: #141922;
    position: absolute;
    right: 20px;
    width: calc(100% - 220px);
    z-index: 100;

}

.user{
    padding-bottom: 6px;
    border-radius: 20px;
    border-color: transparent;
    background-color: black;
}

.hero{
    width: 384px;
    height: 220px;
    background-color: rgb(128, 89, 201);
    margin: 20px 15px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.hero_title{
    font-size: 2rem;
    padding: 20px;
    color: white;
}

.genre{
    width: calc(100% / 7);
    background-color: white;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.genre:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hero img,
.genre img{
    position: absolute;
    width: 45%;
    transform: rotate(30deg);
    bottom: -10%;
    right: -6%;
}

.genre_index{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 125px;
}

.podcast{
    background-color: teal;
}

.genre_title{
    font-size: 1.5rem;
    color: white;
    padding: 20px;
    position: absolute;
}

.made_for_you{
    background-color: cornflowerblue;
}

.charts{
    background-color: darkkhaki;
}

.new_release{
    background-color: darkseagreen;
}

.discover{
    background-color: darkviolet;
}

.concert{
    background-color: deepskyblue;
}

.electro{
    background-color: goldenrod;
}

.hiphop{
    background-color: hotpink;
}

.mood{
    background-color: lightseagreen;
}

.chill{
    background-color: lightskyblue;
}

.RandB{
    background-color: mediumvioletred;
}

.indie{
    background-color: olivedrab;
}

.soul{
    background-color: orange;
}