
/************************TOP SECTION****************************/
input{
    all: unset;
}

.profile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    display: inline-block;
    border: none;
    font-size: 0.9rem;
    vertical-align: middle;
    padding: 10px 150px 10px 5px;
}

.search_bar{
    background-color: white;
    border-radius: 20px;
}

.search_bar img{
    filter: brightness(0);
    width: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.chev{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    background-color: black;
    height: 45px;
    width: 45px;
    margin: 0px 10px;
    text-align: center;
    border-radius: 50%;
    padding-top: 8px;
}

.user h5{
    display: inline-block;
}

.user h5 i{
    padding: 0px 5px;
}

section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    background-color: transparent;
    position: fixed;
    right: 20px;
    width: calc(100% - 220px);
    z-index: 100;

}

.user{
    padding-bottom: 6px;
    border-radius: 20px;
    border-color: transparent;
    background-color: black;
}

